/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.full-width {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    margin-left: 10.5%; /* Adjust margin-left to match the Sidebar's width */
}
